/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b5b0b0; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595353; 
}

/*Global*/

body {
  background-size: cover;
  background-image: url("./assets/images/Bg-img.png");
}

/*Navbar*/

.header {
  display: flex;
  color: #535959;
  border: 6px solid;
  border-radius: 180px;
}

.logo {
  margin: 6px 56% 6px 70px;
}

.nav-content {
  display: flex;
  color: #535959;
  margin: 6px 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0 8px;
}

h4 {
  font-size: 32px;
  margin: 22px;
}

/*Hero Section*/

h1 {
  font-family: "IBM Plex Serif", serif;
  font-weight: bold;
  font-size: 78px;
  color: #535959;
}

h2 {
  font-family: "Teachers", sans-serif;
  font-weight: 600;
  font-size: 54px;
  color: #535959;
}

.hero-texture {
  background-size: cover;
  background-image: url("./assets/Images/Transparent/Texture.png");
}

.intro {
  display: grid;
  position: absolute;
  justify-content: center;
  text-align: center;
  margin: 150px 10% 0 35%;
}

.intro > h2 {
  margin: 0;
}

.cover-img {
  display: inline-flex;
  position: relative;
  margin-top: 184px;
}

.left-img {
  width: 50%;
  float: left;
  padding-right: 17%;
}

.right-img {
  width: 50%;
  float: right;
  padding-left: 16%;
}

hr {
  margin: 0;
  box-shadow: 4px 3px 10px 0px #535959;
}

/*Quote*/

.container {
  margin-top: 9%;
  margin-bottom: 16%;
}

.pfp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-img {
  border-radius: 50%;
  border: 6px solid #535959;
}

.quote {
  text-align: center;
  margin-top: 4%;
}

p {
  font-family: "Teachers", sans-serif;
  color: #535959;
  font-size: 27px;
}

/*Skills*/

.skill-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.skill-img {
  border-radius: 38px;
  border: 5px solid #535959;
  width: 200px;
  height: 200px;
  margin: 40px 120px 40px 200px;
  float: left;
}

h3 {
  font-size: 44px;
  color: #535959;
}

.skill-content {
  display: block;
  margin-top: 100px;
}

.content {
  display: flex;
  text-align: center;
  margin-top: 0;
  padding-top: 46px;
}

/*Contact page*/

.contact-page {
  margin: 60px 0 0;
}

.left {
  display: inline-flex;
  width: 50%;
}

.form {
  display: block;
  position: relative;
  float: right;
  border: 6px solid #535959;
  border-radius: 38px;
  width: 580px;
  height: 580px;
  margin: 1% 6% 0 0;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 30px 0 30px;
}

body > section:nth-child(4) > div > div.form > div.contact > h3 {
  margin: 20px 0 10px;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

input {
  display: block;
  border-radius: 26px;
  border: solid #535959;
  background-color: transparent;
  width: 90%;
  height: 20px;
  margin-bottom: 23px;
  padding: 10px;
}

textarea {
  display: block;
  border-radius: 26px;
  border: solid #535959;
  background-color: transparent;
  width: 90%;
  height: 100px;
  padding: 10px;
}

::placeholder {
  font-family: "Teachers", sans-serif;
  opacity: 1; 
}

button {
  display: block;
  border: solid #535959;
  border-radius: 26px;
  background-color: #535959;
  margin-top: 19px;
  padding: 0;
  width: 220px;
  height: 60px;
}

.btn-text {
  font-family: "Teachers", sans-serif;
  color: #fff;
  font-size: 27px;
  margin: 0;
}

/* Footer */

.footer {
  background-color: #535959;
  width: 100%;
  height: 200px;
  border-radius: 38px 38px 0 0;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social > a > p {
  font-family: "Teachers", sans-serif;
  color: #fff;
  margin-right: 100px;
}

.flap {
  display: flex;
  justify-content: center;
  align-items: center;
}

body > section:nth-child(5) > div > div > div.flap > div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 20px;
}

body > section:nth-child(5) > div > div > div.flap > div > a > p {
  display: flex;
  color: #fff;
}

.flap {
  white-space: nowrap; /* Prevents wrapping */
}

.copy-right, .mail {
  display: inline-block;
  vertical-align: middle; /* Align both divs vertically */
}

.copy-right p, .mail p {
  margin: 0; /* Remove any default margins */
}

